<div class="schemas_listing ">
    <div class="list_item  darkBackground" style="font-weight: bold;">2023
        <hr class="">
        <div class="list_item  darkBackground" style="font-weight: bold;">December <br> <a
                class="post_link ">Process to simplify a modules</a><a
                class="post_link ">Happy Holidays!</a></div>
        <div class="list_item  darkBackground" style="font-weight: bold;">October <br> <a
                class="post_link ">The doubled edge sword of modules when developing</a></div>
        <div class="list_item  darkBackground" style="font-weight: bold;">September <br> <a
                class="post_link ">Comparing the top 3 compiled low-level languages in 2023</a></div>
        <div class="list_item  darkBackground" style="font-weight: bold;">May <br> <a
                class="post_link ">Testing LLAMA AI chat versions</a><a
                class="post_link ">May the 4th be with you</a></div>
        <div class="list_item  darkBackground" style="font-weight: bold;">April <br> <a
                class="post_link ">Bash vs. Powershell</a><a class="post_link ">It's My
                First Post!</a></div>åå
    </div>
</div>