$breakpoints: (
    sm: 0px,
    md: 768px,
    lg: 1024px,
    xl: 1280px,
    2xl: 1536px,
);

@mixin max($keys...) {
    @each $key in $keys {
        @media (max-width: map-get($breakpoints, $key)) {
            @content
        }
    }
}

//  mixin to print out media queries (based on map keys passed)
@mixin min($keys...) {
    @each $key in $keys {
        @media (min-width: map-get($breakpoints, $key)) {
            @content
        }
    }
}