a {
    text-decoration: none;
    color: var(--accent-color);

    &:hover {
        color: var(--accent-color-darker);
    }

    &.link {
        box-shadow: 0px -2px 0px rgba(var(--link-background-color), var(--link-background-opacity)) inset;
        transition: all 0.3s ease;

        &:hover {
            box-shadow: 0px calc(-1rem * var(--article-line-height)) 0px rgba(var(--link-background-color), var(--link-background-opacity-hover)) inset;
        }
    }
}

.section-title {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
    display: block;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--body-text-color);

    a {
        color: var(--body-text-color);
    }
}

nav {
    width: 100%;
    background: transparent;
    background-color: #3b3b3b;
    border-top: .25em solid #7d0e9e;
    border-bottom: 0;
    box-shadow: 0 1px 30px #0000001a;
    -moz-box-shadow: 0 1px 30px rgba(0,0,0,.1);
    margin-bottom: 0;
    padding: 0;
    z-index: 1;
}

.top-navbar {
    height: 3.75em;
}

.top-navbar .inner {
    margin: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.button-navbar {
    min-width: 50px;
    padding: 3px;
    margin: 3px;
    height: 42px;
    font-family: Nunito,sans-serif;
    cursor: pointer;
    min-height: 1em;
    outline: 0;
    border: none;
    border-radius: .5em;
    vertical-align: baseline;
    color: white;
}

.gcard {
    width: var(--card-width, 100%);
    padding: 1em;
    animation: .3s ease-in 0s 1 svelte-99ct8h-slideIn;
    transition: all .5s ease-in-out;
    font-size: large;
    box-shadow: 0 1px 30px #0000001a;
    -moz-box-shadow: 0 1px 30px rgba(0,0,0,.1);
    overflow: hidden;
    border-radius: 1em;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.gcard .inner {
    transition: opacity 1s;
    animation: 1s ease;
    font-size: medium;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    max-width: 1000px;
    border-radius: 1em;
    background-color: #dcddde;
}

@supports (backdrop-filter: none) {
    .gcard {
        background-color: #3b3b3b80;
        -webkit-backdrop-filter: blur(10px) brightness(50%);
        backdrop-filter: blur(10px) brightness(50%);
    }
    .top-navbar {
        background-color: #3b3b3b80;
        -webkit-backdrop-filter: blur(10px) brightness(50%);
        backdrop-filter: blur(10px) brightness(50%);
    }
}

body {
    display: flex;
    overflow: auto;
    flex-direction: column;
    font-family: Lato,system-ui,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: gray;
    background-image: radial-gradient(at -10px -10px,#fff,#9f9f9f 90%);
    background-size: 200% 200%;
    animation: gradient 15s ease infinite;
    animation-direction: alternate;
}

[data-scheme="dark"] {
    body {
        background-image: radial-gradient(farthest-corner at -10px -10px,#7d0e9e,#000 50%);
    }
    .gcard .inner {
        background-color: #221d23;
    }
}