a {
    text-decoration: none;
    color: var(--accent-color);

    &:hover {
        color: var(--accent-color-darker);
    }

    &.link {
        box-shadow: 0px -2px 0px rgba(var(--link-background-color), var(--link-background-opacity)) inset;
        transition: all 0.3s ease;

        &:hover {
            box-shadow: 0px calc(-1rem * var(--article-line-height)) 0px rgba(var(--link-background-color), var(--link-background-opacity-hover)) inset;
        }
    }
}
.related-content article {
    height: auto;
}

.tag-labels {
    font-size: 1rem !important;
}
.section-title {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
    display: block;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--body-text-color);

    a {
        color: var(--body-text-color);
    }
}

nav {
    width: 100%;
    background: transparent;
    background-color: #3b3b3b;
    border-top: .25em solid #7d0e9e;
    border-bottom: 0;
    box-shadow: 0 1px 30px #0000001a;
    -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, .1);
    margin-bottom: 0;
    padding: 0;
    z-index: 1;
}

.top-navbar {
    height: 3.75em;
    background-color: #e6e6e6;
}

.top-navbar .inner {
    margin: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.button-navbar {
    min-width: 50px;
    padding: 3px;
    margin: 3px;
    height: 42px;
    font-family: Nunito, sans-serif;
    cursor: pointer;
    min-height: 1em;
    outline: 0;
    border: none;
    border-radius: .5em;
    vertical-align: baseline;
    color: white;
}

.gcard {
    width: var(--card-width, 100%);
    padding: 1em;
    animation: .3s ease-in 0s 1 svelte-99ct8h-slideIn;
    transition: all .5s ease-in-out;
    font-size: large;
    box-shadow: 0 1px 30px #0000001a;
    -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, .1);
    overflow: hidden;
    border-radius: 1em;
    background-color: #e6e6e6;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border-style: solid;
    border-color: var(--theme-color, rgb(125, 14, 158));
}

.gcard .inner {
    transition: opacity 1s;
    animation: 1s ease;
    font-size: medium;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    max-width: 1000px;
    background: unset;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
    border-radius: 0.5em;
}

.gcard .inner::-webkit-scrollbar {
    display: none;
}

@supports (backdrop-filter: none) {
    .gcard {
        -webkit-backdrop-filter: blur(10px) brightness(50%);
        backdrop-filter: blur(10px) brightness(50%);
    }

    .top-navbar {
        -webkit-backdrop-filter: blur(10px) brightness(50%);
        backdrop-filter: blur(10px) brightness(50%);
    }
}

body {
    display: flex;
    overflow: auto;
    flex-direction: column;
    font-family: Lato, system-ui, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: radial-gradient(at -10px -10px, #bababa, #9f9f9f 90%);
    background-size: 200% 200%;
    animation: gradient 15s ease infinite;
    animation-direction: alternate;
}

[data-scheme="dark"] {
    .gcard {
        color: white;
    }

    body {
        background-image: radial-gradient(farthest-corner at -10px -10px, #7d0e9e, #000 50%);
    }

    .top-navbar {
        background-color: #3b3b3b80;
        -webkit-backdrop-filter: blur(10px) brightness(50%);
        backdrop-filter: blur(10px) brightness(50%);
    }

    @supports (backdrop-filter: none) {
        .gcard {
            background-color: #3b3b3b80;
            -webkit-backdrop-filter: blur(10px) brightness(50%);
            backdrop-filter: blur(10px) brightness(50%);
        }

        .top-navbar {
            background-color: #3b3b3b80;
            -webkit-backdrop-filter: blur(10px) brightness(50%);
            backdrop-filter: blur(10px) brightness(50%);
        }
    }
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: whitesmoke;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham5 .top {
    stroke-dasharray: 40 82;
}

.ham5 .bottom {
    stroke-dasharray: 40 82;
}

.ham5.active .top {
    stroke-dasharray: 14 82;
    stroke-dashoffset: -72px;
}

.ham5.active .bottom {
    stroke-dasharray: 14 82;
    stroke-dashoffset: -72px;
}