.container {
    margin: 0;

    .left-sidebar {
        order: -3;
        display: none;
        max-width: var(--left-sidebar-max-width);
        @include min(md) {
            display:flex;
        }
    }

    .right-sidebar {
        order: -1;
        max-width: var(--right-sidebar-max-width);
        display: none;
        /// Display right sidebar when min-width: lg
        @include min(xl) {
            display: flex;
        }
    }

    &.extended {
        @include min(md) {
            --left-sidebar-max-width: 250px;
            --right-sidebar-max-width: 250px;
        }

        @include min(lg) {
            --left-sidebar-max-width: 300px;
            --right-sidebar-max-width: 300px;
        }
    }

    &.compact {
        @include min(md) {
            --left-sidebar-max-width: 25%;
            max-width: 768px;
        }

        @include min(lg) {
            max-width: 1024px;
            --left-sidebar-max-width: 20%;
        }

        @include min(xl) {
            max-width: 1280px;
        }
    }
}

.flex {
    display: flex;
    flex-direction: row;

    &.column {
        flex-direction: column;
    }

    &.on-phone--column {
        flex-direction: column;
        @include min(md) {
            flex-direction: unset;
        }
    }

    .full-width {
        width: 100%;
    }
}

main.main {
    order: -2;
    min-width: 0;
    max-width: 100%;
    flex-grow: 1;
    display: flex;
    overflow:hidden;
    z-index: 0;
    gap: var(--section-separation);
    flex-direction: column;
    padding-bottom: var(--main-top-padding);
    padding-right: 1em;
    margin-left: 0.5em;
    @include max(sm,md){
        margin-left: 0;
    }
}

.main-container {
    padding: .5em;
    display: flex;
    height: 100%;
    max-width: 100%;
    overflow: hidden;

}
