body {
  background-color: gray;
  font-family:
    Lato,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    "Liberation Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
    overflow: auto;
    background-color: gray;
    font-family: Lato, system-ui, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    display: flex;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    background-color: gray;
    background-image: radial-gradient( farthest-corner at -10px -10px, #7d0e9e 0%, black 80% );
    background-size: 200% 200%;
    animation: gradient 15s ease infinite;
    animation-direction: alternate;
}

img {
  max-width: 100%;
  border-style: solid;
  border-width: 1px;
  border-radius: 1em;
}

a {
  cursor:pointer;
}

a:visited {
  color: white
}

a:hover {
  color: white
}

a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

pre {
  display: grid;
  width: 100%
}

code {
  display: -webkit-inline-box;
  background-color: darkgray;
  padding: .25em .5em .25em .5em;
  border-style: inset;
  border-width: 1px;
  border-radius: 1em;
  overflow: auto;
  font-size: medium;
}

table {
  border-style: solid !important;
  border-width: 1px !important;
  border-radius: 1em !important;
}

.button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background: #e0e1e2 none;
  color: #0009;
  margin: 0;
  padding: .78571429em 1.5em;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: .28571429rem;
  box-shadow: 0 0 0 1px transparent inset, 0 0 #22242626 inset;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: opacity .1s ease, background-color .1s ease, color .1s ease, box-shadow .1s ease, background .1s ease;
  will-change: auto;
  -webkit-tap-highlight-color: transparent;
}