<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="{{ default `ltr` .Language.LanguageDirection }}">

<head>
    {{- partial "head/head.html" . -}}
    {{- block "head" . -}}{{ end }}

</head>

<body class="{{ block `body-class` . }}{{ end }}">
    {{- partial "head/colorScheme" . -}}

    {{/* The container is wider when there's any activated widget */}}
    {{- $hasWidget := false -}}
    {{- range .Site.Params.widgets -}}
    {{- if gt (len .) 0 -}}
    {{- $hasWidget = true -}}
    {{- end -}}
    {{- end -}}
    <nav class="top-navbar">
        <div class="inner">
            <button class="button-navbar" onclick="toggleClass()" style="background-color: rgb(125, 14, 158);">
                <div>
                    <svg id="button-toggle-navbar" class="ham hamRotate180 ham5" viewBox="0 0 100 100" width="30">
                        <path class="line top"
                            d="m 30,33 h 40 c 0,0 8.5,-0.68551 8.5,10.375 0,8.292653 -6.122707,9.002293 -8.5,6.625 l -11.071429,-11.071429">
                        </path>
                        <path class="line middle" d="m 70,50 h -40"></path>
                        <path class="line bottom"
                            d="m 30,67 h 40 c 0,0 8.5,0.68551 8.5,-10.375 0,-8.292653 -6.122707,-9.002293 -8.5,-6.625 l -11.071429,11.071429">
                        </path>
                    </svg>
                </div>
            </button>
            <button class="button-navbar" style="background-color: rgb(125, 14, 158);">
                <a href="/">
                    <div style="width:100px;color:white">gPortal</div>
                </a>
            </button>
            <button class="button-navbar" style="background-color: rgb(125, 14, 158);">
                <a href="https://gportal.link/login/">        <svg width="2em" class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <path stroke="white" stroke-width="1.5" d="M7 17v1c0 .6.4 1 1 1h8c.6 0 1-.4 1-1v-1a3 3 0 0 0-3-3h-4a3 3 0 0 0-3 3Zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                  </svg></a>
            </button>
        </div>
    </nav>
    <div class="container main-container flex on-phone--column {{ if $hasWidget }}extended{{ else }}compact{{ end }}">
        {{- block "left-sidebar" . -}}
        {{ partial "sidebar/left.html" . }}
        {{- end -}}
        {{- block "right-sidebar" . -}}{{ end }}
        <main class="main gcard full-width">
            <div class="inner">
                {{- block "main" . }}{{- end }}
            </div>
        </main>
    </div>
    {{ partial "footer/include.html" . }}
</body>

<script>
    function navigateToHash() {
        var hash = window.location.hash.substring(1); // Exclude the '#' character
        let elem = document.getElementById(hash);
        if (elem) {
            elem.scrollIntoView({ behavior: 'smooth' });
        }
    }
    navigateToHash();
    var Anchors = document.querySelectorAll('#TableOfContents a');
    for (var i = 0; i < Anchors.length; i++) {
        Anchors[i].addEventListener("click",
            function () {
                setTimeout(function () {
                    navigateToHash();
                }, 50);
            });
    }
    function toggleClass() {
        document.getElementById('button-toggle-navbar').classList.toggle('active')
    }
</script>

</html>